<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script>
      function onPlusOneChanged(checked) {
        if (checked) {
          $("#plus-one-name").show();
          $("#plus-one-food-option").show();
        } else {
          $("#plus-one-name").hide();
          $("#plus-one-food-option").hide();
        }
      }
      /**
       * When "Going" is checked we require additional information. For this
       * reason, we show and hide that info based on the user's checkbox choice.
       */
      function onChecked(id) {
        if (id === 'plus-one') {
          onPlusOneChanged(true);
        } else if (id === 'going') {
          $("#food-option").show();
          $("#plus-one-field").show();
          $("#music-recommendation").show();
          if ($("#plus-one").is(':checked')) {
            $("#plus-one-name").show();
            $("#plus-one-food-option").show();
          }
        } else if (id === 'not-going') {
          $("#food-option").hide();
          $("#plus-one-field").hide();
          $("#music-recommendation").hide();
          $("#plus-one-name").hide();
          $("#plus-one-food-option").hide();
        }
      }
      $(document).ready(function() {
        {% if going %}
        onChecked('going');
        {% else %}
        onChecked('not-going');
        {% endif %}
        onPlusOneChanged({% if plus_one %}true{% else %}false{% endif %});
        // Set up listener for UI interaction
        $('.ui.checkbox').checkbox({
          onChecked: function() {
            onChecked($(this).attr('id'));
          },
          onUnchecked: function() {
            if ($(this).attr('id') == 'plus-one') {
              onPlusOneChanged(false);
            }
          }
        });
      });
    </script>
    <style>
      @media screen and (max-width: 600px) {
        .center{
          margin-left: -120px;
          left: 40%;
          top: 25%;
          width: 200px;
        }
      }
      @media screen and (min-width: 600px) {
        .center{
          margin-left: -150px;
          left: 40%;
          top: 25%;
          width: 500px;
        }
      }
    </style>
  </head>
  <body>
    <form class="center ui form" action="respond" method="POST">
      <h4 class="ui dividing header">Hi {{ name }}</h4>
      <div class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="going" value=true id="going" {% if going %} checked="" {% endif %} tabindex="0">
            <label>Going</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="going" value=false id="not-going" {% if not going %} checked="" {% endif %} tabindex="0">
            <label>Not going</label>
          </div>
        </div>
      </div>
      <div class="field" id="food-option">
        <label>Dietary Requirements</label>
        <input type="text" name="food" placeholder="List allergies and preferences" value="{{ food }}">
      </div>
      <div class="field" id="plus-one-field">
        <div class="ui checkbox">
          <input name="plus_one" id="plus-one" type="checkbox" tabindex="0" {% if plus_one %} checked="" {% endif %}>
          <label>Bringing a plus one?</label>
        </div>
      </div>
      <div class="field" id="plus-one-name">
        <label>Plus One's Name</label>
        <input type="text" name="plus_one_name" placeholder="Name" value="{{ plus_one_name }}">
      </div>
      <div class="field" id="plus-one-food-option">
        <label>Plus One's Dietary Requirements</label>
        <input type="text" name="plus_one_food" placeholder="List allergies and preferences" value="{{ plus_one_food }}">
      </div>
      <div class="field" id="music-recommendation">
        <label>Music recommendation</label>
        <input type="text" name="music" placeholder="What's a song you like?" value="{{ music }}">
      </div>
      <div class="field" id="notes">
        <label>Anything else?</label>
        <textarea name="notes" rows="2">{{ notes }}</textarea>
      </div>
      <input type="hidden" name="invite_code" value="{{ invite_code }}"/>
      <button class="ui button" tabindex="0">Submit</button>
    </form>
  </body>
</html>
